@model Utilities.Models.PartidoDisputado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PartidoDisputado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Division)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Division)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Round)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Round)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitorGoals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitorGoals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
    </dl>
</div>
<div>
    <div id="marcador">
        <div>@Model.LocalTeam</div>
        <div>@Model.LocalGoals</div>
        <div>@Model.VisitorGoals</div>
        <div>@Model.VisitorTeam</div>
    </div>
    <div>
        @{ 
            DateTime datetime = @_ViewImports.UnixTimeStampToDateTime(item.Timestamp);
            @MyHelper
        }
        @_App_Code_MyHelper.UnixTimeStampToDateTime();
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.Id  }) |
    <a asp-action="Index">Back to List</a>
</div>
